<!-- footer -->
<footer class="bg-dark">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary">austinhu@usc.edu</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-light">Phone</h5>
            <p class="text-white paragraph-lg font-secondary">+1 323 336 0926</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-light">Address</h5>
            <p class="text-white paragraph-lg font-secondary">3131 McClintock Ave, G161, Los Angeles, CA 90007</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- /footer -->